In [1]:
import pandas as pd 
import numpy as np

In [2]:
np.random.seed(20)
data = {
    'Category' : np.random.choice(['A', 'B', 'C', 'D'], size=20),
    'Region'   : np.random.choice(['North', 'South', 'East', 'West'], size=20),
    'Sales'    : np.random.randint(50, 100, size=20),
    'Profit'   : np.random.randint(10, 100, size=20)
}
data

{'Category': array(['D', 'C', 'D', 'D', 'A', 'C', 'B', 'A', 'D', 'C', 'D', 'C', 'A',
        'C', 'A', 'B', 'C', 'C', 'D', 'D'], dtype='<U1'),
 'Region': array(['North', 'South', 'East', 'East', 'East', 'North', 'South',
        'South', 'West', 'South', 'West', 'East', 'East', 'East', 'South',
        'West', 'East', 'South', 'West', 'East'], dtype='<U5'),
 'Sales': array([61, 63, 69, 80, 96, 82, 60, 93, 56, 61, 68, 53, 63, 67, 93, 66, 68,
        65, 76, 57]),
 'Profit': array([85, 39, 55, 16, 73, 88, 34, 28, 43, 88, 52, 13, 28, 80, 62, 32, 24,
        14, 37, 85])}

In [3]:
df = pd.DataFrame(data)
df

   Category Region  Sales  Profit
0         D  North     61      85
1         C  South     63      39
2         D   East     69      55
3         D   East     80      16
4         A   East     96      73
5         C  North     82      88
6         B  South     60      34
7         A  South     93      28
8         D   West     56      43
9         C  South     61      88
10        D   West     68      52
11        C   East     53      13
12        A   East     63      28
13        C   East     67      80
14        A  South     93      62
15        B   West     66      32
16        C   East     68      24
17        C  South     65      14
18        D   West     76      37
19        D   East     57      85

In [13]:
pivot = pd.pivot_table(df, values='Sales', index='Category', columns='Region', aggfunc=['count', 'sum'])
pivot

         count                     sum
Region    East North South West   East North  South   West
Category
A          2.0   NaN   2.0  NaN  159.0   NaN  186.0    NaN
B          NaN   NaN   1.0  1.0    NaN   NaN   60.0   66.0
C          3.0   1.0   3.0  NaN  188.0  82.0  189.0    NaN
D          3.0   1.0   NaN  3.0  206.0  61.0    NaN  200.0

Để có thể xử lý được NaN (vì ví dụ nếu ta có thể g/s ko có dữ liệu là 0) => sử dụng fill_value

In [14]:
pivot = pd.pivot_table(df, values='Sales', index='Category', columns='Region', aggfunc='sum', fill_value=0)
pivot

Region    East  North  South  West
Category
A          159      0    186     0
B            0      0     60    66
C          188     82    189     0
D          206     61      0   200